<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="alexander.m.cavedish.ws_core" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <service android:name="alexander.m.cavendish.ws_core.OnNetStateChangeService" />
    </application>
</manifest>
